/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: Google Sans,arial,sans-serif;
    background-color: #66ccff;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*,::before,::after{
    box-sizing: border-box;
}

/* style start */
.container{
    max-width: 660px;
    margin: 0 auto;
    width:100%;
}


.city-search{
    width: 100%;
    padding: 8px;
    border-radius: 24px;
    border: 1px solid transparent;
    box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
    margin: 30px 0;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
}
.city-search-input{
    border: none;
    padding: 8px;
    border-radius: 24px;
    width: 90%;
}
.form-btn{
    background: none;
    color: #4285f4;
    margin-right: 15px;
    height: 30px;
    width: 30px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}


.city-section{
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-radius: 18px;
    overflow: hidden;
    background-color: #fff;
    margin-bottom: 30px;
    position: relative;
    z-index: 0;
    box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
}
.city-section::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(255, 255, 255, 0.644);
    z-index: -1;
}
.city-section>video{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    object-fit: cover;
    z-index: -2;
}
.city-info{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    border-radius: 18px;
}
.left-temp{
    display: flex;
    flex-direction: column;
    padding-right: 15px ;
    width: 50%;
}
.right-more-info{
    display: flex;
    flex-direction: column;
    font-size: 16px;
    width: 50%;
    position: relative;
    right: -15px;
    border-left: 2px solid #d0d0d0;
}
.tempr{
    font-size: 48px;
    display: flex;
}
.temp-day{
    display: flex;
    flex-direction: row;
}
.temp-day-min{
    color: lavender;
}
.temp-max{
    margin-right: 15px;
}
.temp-min{
    color: lavender;
}
.city-type{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.name-city{
    font-size: 22px;
    color: #4285f4;
}
.icon-weather{
    width: 50px;
    height: 50px;
}
.more-info{
    color: grey;
    font-weight: 600;
    font-size: 18px;
}
.more-info > div{
    padding-top: 8px;
}
.day-time{
    display: inline-block;
    flex-direction: column;
    font-size: 18px;
}
.temp-hours{
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.info-day{
    display: flex;
    flex-direction: column;
    align-items:center ;
    justify-content: center;
}
.data{
    display: block;
    font-weight: 600;
    text-align: center;
}
.wind-dir{
    display: inline-flex;
}









.temp-wrap{
    display: flex;
    align-items: flex-end;
    height: 150px;
    padding-bottom: 20px;
}
.temp{
    flex-grow: 1;
    border-top: 3px solid;
    position: relative;
}
.degre{
    display: flex;
    align-items: center;
    justify-content: center;
}